* { box-sizing: border-box;}

.header h1 {

    text-align: center;
    overflow: hidden;
    font-size: 50;

}
.navbar {
    overflow: hidden;
    background-color: #333;

}

.navbar a.right{
    float:right
}

.row{

    display:flex;
    flex-wrap: wrap;

}

.side{
    flex: 50;
    padding: 20px;
    border: 5px solid blueviolet
}

.fit-picture{
    width: 400px;
    height: auto;

}

.footer{
    text-align: center;

}
@media screen and (max-width: 700px) {
    .row{
        flex-direction: column;

    }
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;

    }
}
